Package: com.level3tjg.textylepatch
Name: TextylePatch
Depends: mobilesubstrate, com.d11z.textyle, firmware (>=13.0)
Version: 0.0.4
Architecture: iphoneos-arm
Description: Make Textyle work on iOS 13
Maintainer: level3tjg
Author: level3tjg
Section: Tweaks
